@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  height: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  min-height: 100%;
}

#root{
  min-height: 100%;
}

.App{
  min-height: 100%;
}

.main-container{
  min-height: 100%;
}

.nav-bar{.nav-bar-top{
  display:flex;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(9, 136, 41, 0.774)
}
  
}

.nav-bar-top{
  display:flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(9, 136, 41, 0.774)
}

.nav-bar-top h1{
  color: rgb(255, 255, 255)
}

.nav-bar-bottom{
  top: 0px;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(129, 131, 130, 0.774);
  color: rgb(255, 255, 255)
}

.nav-link-container{
  display: flex;
  justify-content: space-evenly;
}

.nav-item{
  margin: 10px;
  cursor: pointer;
}

.footer{
  font-size: x-small;
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: end;
  margin-bottom: 2%;
  margin-left: 40%;
  align-items: flex-end;
}

.content-container{
  margin: 5%;
  height: 80%;
}

.content-container h2{
  white-space: pre-line;
}